body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.affix{
    position:fixed;
    top: 70px;
}
.space30 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.space5 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.err {
	font-size:13px;
	color: red;
}

.errsign-valid {
	visibility: hidden;
}

.errsign-err {
	visibility: visible;
}

.errorlist{
	font-size:13px;
	color: red;
}

.todo{
    font-size: 15px;
    color: #FF6600;
}

.log_record{
    font-size: 13px;
    padding: 0px;
}

.table-header{
    font-weight: bold;
}

.log-table {
    table-layout: fixed;
    word-wrap: break-word;
}

.log-table-cell-xs {
    width: 70px;
}

.navbar-inverse {
    background-color: #350808;
}

.left-nav {
    padding-top: 70px;
}

.inpagelink {
    padding-top: 50px;
}
.glyphicon-trash {
    font-size: 11px;
    font-weight: lighter;
    margin-left: 10px;
    cursor: pointer;
}

.options {
    font-size: 15px;
    padding-top: 5px;
    cursor: pointer;
    color: steelblue;
}


.btn-newsub {
    margin-left: 20px;
    font-size: 13px;
    cursor: pointer;
    color: steelblue;
}
.form-add-task {
    margin-top: 10px;
    margin-bottom: 10px;
}
.main-task {
    margin-top: 10px;
    font-weight: bold;
}
.main-task-text {
}

.main-task-with-subtask {
    cursor: pointer;
    text-decoration: underline;    
}

.subtask {
    margin-top: 5px;
    margin-left: 20px;
    font-weight: normal;
}

.subtask-input {
    margin-top: 10px;
    margin-left: 20px;
    width: 50%;
}
.refresh-task {
    margin-left: 15px;
    cursor: pointer;
    color: steelblue;
    font-size: 13px;
}

.task-done {
    color: grey;
    text-decoration: line-through;
}

.hidden {
    display: none;  
}
.add-subtask {
    color: steelblue;
    font-size: 12px;
    margin-left: 10px;
    cursor: pointer;
}

.log-area {
    margin-top: 70px;
    padding-right: 30px;
}
.plan-options {
    max-width: 350px;
    margin-top: 10px;
    padding-left: 20px;
}
.plan-area {
    max-width: 350px;
    height: 400px;
    overflow: auto;
    margin-top: 10px;
    padding-left: 20px;
}

.header {
    margin-top: 30px;
}
.header-text {
    font-size: 15px;
    cursor: pointer;
}
