body {
  padding: 100px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

ul.u {list-style-type: none;}
ul.s {list-style-type: square;}

h4 li {
    margin-top: 5px;
}


.brand-text {
    margin-left: 15px;
}

.affix{
    position:fixed;
    top: 100px;
}
.affix-top {
    top: 100px;
}

#myAffix {
    top: 100px;
    position: fixed;
}

.space30 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.space5 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.text-info {
    font-size: 18px;
}
.err {
	font-size:13px;
	color: red;
}

.errsign-valid {
	visibility: hidden;
}

.errsign-err {
	visibility: visible;
}

.errorlist{
	font-size:13px;
	color: red;
}

.todo{
    color: #FF6600;
}

.log_record{
    font-size: 13px;
    padding: 0px;
}

.table-header{
    font-weight: bold;
}

.log-table {
    table-layout: fixed;
    word-wrap: break-word;
}

.log-table-cell-xs {
    width: 70px;
}

.navbar {
    padding-left: 30px;
}

.navbar-right {
    margin-right: 50px;
}


.navbar-default {
/*    background-color: #350808;*/
}

.left-nav {
    padding-top: 70px;
}

.nav-progress {
    padding-top: 15px;
    width: 250px;
}

.progress-bar-grey {
    background-color: #BDBDBD;
}

.inpagelink {
    padding-top: 50px;
}
.glyphicon-trash {
    font-size: 11px;
    font-weight: lighter;
    cursor: pointer;
}

.options {
    font-size: 15px;
    padding-top: 5px;
    cursor: pointer;
    color: steelblue;
}


.btn-newsub {
    margin-left: 20px;
    font-size: 13px;
    cursor: pointer;
    color: steelblue;
}
.form-add-task {
    margin-top: 10px;
    margin-bottom: 10px;
}
.main-task {
    margin-top: 10px;
    font-weight: bold;
}
.main-task-text {
}

.main-task-with-subtask {
    cursor: pointer;
    text-decoration: underline;    
}

.subtask {
    margin-top: 5px;
    margin-left: 20px;
    font-weight: normal;
}

.subtask-input {
    margin-top: 10px;
    margin-left: 20px;
    width: 50%;
    color: black;
    font-weight: normal;
    display: inline-block;
}
.refresh-task {
    margin-left: 15px;
    cursor: pointer;
    color: steelblue;
    font-size: 13px;
}

.task-done {
    color: grey;
    text-decoration: line-through;
}

.hidden {
    display: none;  
}


.add-subtask {
    color: steelblue;
    font-size: 12px;
    margin-left: 10px;
    cursor: pointer;
}


.plan-options {
    max-width: 350px;
    margin-top: 10px;
    padding-left: 20px;
}

.plan-area {
    max-width: 350px;
    height: 300px;
    overflow: auto;
    margin-top: 10px;
    padding-left: 20px;
}

.header {
    margin-top: 30px;
}
.header-text {
    font-size: 15px;
    cursor: pointer;
}


.log-area {
    margin-top: 30px;
    padding-right: 30px;
}


.navbar-extension {
    padding-left: 50px;
    background-color: #fff;
}

.navbar-extension .anno-option {
    color: #000;
}
.navbar-extension .anno-option-tight {
    color: #000;
}

.anno-option {
    cursor: pointer;
    margin-right: 20px;
}

.cursor-help {
    cursor: help;
}
.glyphicon-global {
    font-size: 16px;
    padding-top: 3px;
}

.spanspace {
    padding-right: 5px;
    padding-left: 3px;
}
.view-date {
    padding-top: 3px;
    font-size: 16px;
    font-weight: bold;
}
.label-maintask-with-subtask {
    cursor: crosshair;
}

.scrollable-menu {
    height: auto;
    overflow-x: hidden;
    max-height: 400px;
}

.task-more {
}
.task-more-main {
    padding-left: 10px;    
}

.task-more-sub {
    padding-left: 20px;
}

.li-more-task {
    text-decoration: underline;
}


.logitem-title {
    padding-left: 10px;
}

.logitem-title a {
    color: steelblue;
}

.logitem-icon {
    margin-left: 10px;
    margin-right: 5px;
    font-size: 16px;
}

.logitem-time {
    padding-left: 20px;
    font-size: 12px;
    color: grey; 
}
.logitem-label-chosen {
    font-size: 16px;
    color: grey;
}

.logitem-label-useful {
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.logitem-useful-option {
    margin-left: 20px;
    margin-right: 10px;
    cursor: pointer;
}
.logitem-useful-text {
    color: grey;
}

.logitem-label-candidates {
    margin-top: 20px;
    font-size: 16px;
}

.logitem-label-candidate {
    margin-left: 10px;
    cursor: pointer;
    display: inline-block;
}
.logitem-label-candidate-more {
    text-decoration: underline;
    color: steelblue; 
    margin-left: 10px;
    font-size: 14px;
    cursor: pointer;
}
.logitem-label-candidate-less {
    text-decoration: underline;
    color: steelblue; 
    margin-left: 10px;
    font-size: 14px;
    cursor: pointer;
}
.label-default {
    background-color: #848484;
}

.label-default:hover {
    background-color: #A4A4A4;
}

h5 {
    font-size: 16px;
}

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
    font-size: 16px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 24px;
}

.bs-callout p {
    margin-top: 5px;
    margin-bottom: 5px;
} 

.bs-callout li {
    margin-top: 10px;
}

.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}

.logview td{
    max-width: 150px;
    overflow: hidden;
    padding: 10px;
}

.pageview-url {
    font-size: 12px;
    color: green;
    margin-top: 5px;
}

.panel-search {
    border-left-color: #428bca;
    border-left-width: 9px;
}

.panel-browse {
    border-left-color: grey; /*#f0ad4e;*/
    border-left-width: 5px;
}

.panel-success {
    border-left-color: #5cb85c;
    border-left-width: 1px;
}

.text-intro {
    font-size: 16px;
}
.text-strong {
    font-weight: bold;
}
