body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.space30 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.space5 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.err {
	font-size:13px;
	color: red;
}

.errsign-valid {
	visibility: hidden;
}

.errsign-err {
	visibility: visible;
}

.errorlist{
	font-size:13px;
	color: red;
}

.todo{
    font-size: 15px;
    color: #FF6600;
}
