extends layout

block headextra
    script(src="/javascripts/annotation.js")
    script(src="/javascripts/tasks.js")
 
block content
    div(class=["container"])
        div(class=["col-md-7", "log-area"])

        div#task_area(class=["col-md-5", "right-column"])
            div(class=["affix"], data-spy="affix", data-offset-top="200")
                div(class="header")
                    ul(class=["nav", "nav-tabs"])
                        li(role="presentation" class="active", id="li_todo")
                            a(class="header-text" id="link_todo") My to-dos 
                                span#count_todo
                        li(role="presentation", id="li_done") 
                            a(class="header-text" id="link_done") Items done
                                span#count_done

                div(class=["plan-options", "row"], id="plan_options")
                    div(class=["col-sm-8"])
                        input#input_addtask(type="text", class="form-control", placeholder="+Add a new task")
                    div(class=["col-sm-4", "dropdown", "options"])
                        a#options(class="options" data-target="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") 
                            span(class=["glyphicon glyphicon-cog"]) 
                            span=" Options"
                        ul(class="dropdown-menu", aria-labelledby="options")
                            li#option_archive
                                a Archive finished items
                            li#option_expand 
                                a Expand all to-dos
                            li#option_collapse
                                a Collapse all to-dos
 
                div#div_planlist(class="plan-area")
