extends layout

block content
    h2= "Welcome " + user.name 
    p= "user ID that should be stored in loggers: " + user.userid

    h2 To be implemented
    p This page provides links to different pages that uesrs may need:
    ul
        li acount information;
        li annotation page; 
        li instructions
        li 
            a(href="/users/mytodo/") My To-Do list 
