//extends layout

//block content
//  h1= message
//  h2= error.status
//  pre #{error.stack}

doctype html
html
  head
    link(rel="stylesheet", href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
 
  body
    block navbar
        nav(class=["navbar", "navbar-default", "navbar-fixed-top"])
            .row
                .navbar-brand tasklog


        h1='Page ' + message


        p It seems you are not finding what you are looking for. To access your personal log, please visit:
        a(href="http://tasklog.cs.ucl.ac.uk/users/login") http://tasklog.cs.ucl.ac.uk/users/login

        pre(class="hidden") #{error.stack}
