extends layout

block content
    .container
        .col-md-12
            .page-header
                h2 
                    small Thank you for contributing to our research! In this page, you can find information on how to complete this study. If you have further questions, please don't hesitate to   
                        a(href="mailto:research.mediafutures.ucl@gmail.com") contact us.

                ul
                    li 
                        a(href="#procedure") General procedure
                    li
                        a(href="#intro") Introduction session
                    li 
                        a(href="#diary") Diary study
                    li
                        a(href="#debrief") Debrief session
                    li 
                        a(href="#software") Software configuration
                    li 
                        a(href="#account") Find back your userid     
                  
            .page-header 
                h1#procedure General procedure 

            .page-header 
                h1#intro Introduction session

            .page-header 
                h1#diary Diary study

            .page-header 
                h1#debrief Debrief session

            .page-header 
                h1#software Software configuration

            .page-header 
                h1#account Find back your userid
                 
