doctype html
html( leng="en" )
    head
        title Reset password
        meta(charset='utf-8')
        link(href="/stylesheets/style.css", rel="stylesheet")
        link(href="/stylesheets/bootstrap.min.css", rel="stylesheet")
        script(src="/javascripts/jquery-1.11.3.min.js")
        script(src="/javascripts/bootstrap.min.js")
 
    body
        .container
            .page-header 
                h2 Password reset
                .alert.alert-success
                    Your password has been successfully reset.
                    =" "
                    a(href="/users/login") Login now. 
                        
