doctype html
html( leng="en" )
    head
        title Reset password
        meta(charset='utf-8')
        link(href="/stylesheets/style.css", rel="stylesheet")
        link(href="/stylesheets/bootstrap.min.css", rel="stylesheet")
        script(src="/javascripts/jquery-1.11.3.min.js")
        script(src="/javascripts/bootstrap.min.js")
 
    body
        .container
            .page-header 
                h2 Password reset
                .alert.alert-danger
                    Password reset token is invalid or has expired. Please make a new request with your email address:
                    =" "
                    a(href="/forgotpassword") here. 
                        
